# ===== Оркестратор =====
GORK_GRPC_HOST=0.0.0.0
GORK_GRPC_PORT=50051
GORK_REDIS_ADDR=localhost:6379
GORK_REDIS_PASSWORD=
GORK_REDIS_DB=0
GORK_LOG_LEVEL=info
GORK_LOG_FORMAT=text

# ===== Воркер =====
GORK_WORKER_ID=
GORK_ORCHESTRATOR_ADDR=localhost:50051
GORK_WORKER_CONCURRENCY=4
GORK_WORKER_TYPES=send_email,resize_image,generate_report
GORK_WORKER_HEARTBEAT_INTERVAL=5s
GORK_WORKER_RECONNECT_BACKOFF=3s